---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";

const contacto = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contacto.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <p class="text-center mb-6">Nuestro servidor está en mantenimiento. Por favor, escribenos y te contactaremos en cuanto esté disponible.</p>
          <br>
          <label for="email" class="form-label">
            Correo Electrónico<span class="text-red-500">:</span>  glud@udistrital.edu.co
          </label>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>
</Base>
